nav{
    width: 100%;
    height: 80px;
    background-color: grey;
}
.logo{
    width: 150px;
    float:left;
    color: white;
    margin-left: 120px;
    margin-top: 20px;
}
.nav-con{
    width:550px;
    height: 50px;
    float:right; 
    margin-right: 90px;
    margin-top: 20px;
}
.nav-con ul{
    list-style: none;
}
.nav-con li{
    float: left;
    height: 34px;
    background-color: white;
    color:#2b2b2b;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.nav-con li:hover{
    cursor: pointer;
    background-color: #2b2b2b;
    color: white;
}
header{
    width: 100%;
    height: 98.5vh;
    background-color: lightgrey;
    padding-left: 10%;
    padding-top: 150px;
}
header h1{
    font-size: 45px;
}
header p{
    margin-top: 15px;
}
section{
    width:100%;
    height: 100px;
    background-color: grey;
    color: white;
    text-align: center;
    padding-top: 25px;
}
.empty-box{
    width: 470px;
    height: 400px;
    background-color: lightgrey;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.intro{
    width: 470px;
    height: 400px;
    margin-top:100px;
}
.btn-call{
    width: 200px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    border:2px solid #2b2b2b;
    background-color: white;
    color:#2b2b2b;
    text-align:center;
    margin-top: 10px;
}
.btn-call:hover{
    cursor: pointer;
    background-color: #2b2b2b;
    color: white;
}
.quarter-header{
    text-align: center;
}
.round-image{
    width:150px;
    height: 150px;
    border-radius:50%;
    background-color:lightgrey;
    margin-top: 25px;
}
.text{
    width:250px;
    margin-top: 20px;
}
.btn-one{
    width: 150px;
    height:30px;
    background-color: #2b2b2b;
    border-radius: 5px;
    color: white;
    padding-left: 40px;
}
.btn-one:hover{
    background:white;
    color:#2b2b2b;
    border:2px solid #2b2b2b;
}
footer{
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #2b2b2b;
    color: white;
    font-style: italic;
    margin-top: 100px;
    padding-top: 50px;
}

